{% extends 'layout.html' %}
{% block title %} Groups {% endblock %}
{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
      <!-- Bordered Table -->
      <div class="card">
        <h5 class="card-header">All Registered Members</h5>
        <div class="card-body">
          <div class="table-responsive text-nowrap">
        {% if data|length > 0 %}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Group Name</th>
                  <th>Address</th>
                  <th>Number of Members</th>
                  <th>Contact</th>
                   
                </tr>
              </thead>
              <tbody>
                {% for row in data %}
                <tr>
                  <td>{{ row.group_name }}</a> </td>
                    <td>{{ row.g_address }}</td>
                    <td>{{ row.number }}</td>
                    <td>{{ row.gcontact }}</td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
      <!--/ Bordered Table -->
    </div>
    <!-- / Content -->
{% endblock %}